.list-style-type-1 {
  list-style-type: disc;
}

.list-style-type-2 {
  list-style-type: circle;
}

.list-style-type-3 {
  list-style-type: square;
}

.list-style-type-4 {
  list-style-type: decimal;
}

.list-style-type-5 {
  list-style-type: decimal-leading-zero;
}

.list-style-type-6 {
  list-style-type: lower-roman;
}

.list-style-type-7 {
  list-style-type: upper-roman;
}

.list-style-type-8 {
  list-style-type: lower-alpha;
}
.list-style-type-9 {
  list-style-type: upper-alpha;
}

.list-style-image-1 {
  content: "";
}

.list-style-image-2 {
  list-style: none;
}
.list-style-image-2::before {
  content: "";
  display: inline-block;
  background-size: 15px;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  background-image: url(./images/imt.png);
}

.list-style-position-1 {
  list-style-position: inside;
}

.list-style-position-2 {
  list-style-position: outside;
}
